
<div class="modal fade" id="scoring-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="color:black">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>
<script>

function call_submit(id){
	$.ajax({
	  url: "../Admit/scoring?id="+id,
	  context: document.body
	}).done(function(data) {
	  $('.modal-content').html(data);
	  $('#scoring-modal').modal({
	    backdrop: 'static',
	    keyboard: false
	})
	});
}


</script>