<style>	
    .head{
		font-size:2em;
		line-height: 4em;
		color:#fff;
		background-color:#000;
		text-align: center;
	}
	.msg{
			font-size:1.5em;
			line-height: 3em;
			color:#fff;
			background-color:#000;

			text-align: center;
    
   }
	.queue{
		color:#000;
		font-size:3em;
		line-height: 4em;
		height:4em;
		background-color:#40a893;
		text-align: center;
	}
	.order-list{
		background-color:#60c8a3;
	}
	.full{
		width:100%;
		font-size:1.5em;
	}
	.p-detail{
		background-color:#90e8c3;
		font-size:1.2em;
	
	}

	.page{
		display:none;
	}
	
	.page-container{
/*		position: absolute;top: 50%;width:100%;*/
	}


	</style>

   <%

   	unit = 'บาท'
%>

<%

	shop_name = "Untitled"
	
	shop_name_value = Setting.where(:name=>'shop_name').first
	if shop_name_value
		shop_name = shop_name_value.value
	end

%>
<div style="overflow:hidden;height:1100px">
<div id="page-1" class="page">
	  	<%= inline(this,:'_wizard-page1') %>
</div>

<div id="page-2" class="page">
		<%= inline(this,:'_wizard-page2') %>
</div>

<div id="page-3" class="page">
		<%# inline(this,:'_wizard-page3') %>
</div>
</div>
<script>

height = $(window).height()
$('.page').css("height",height);
$('#page-1').show();

function goto(id){
	$('.page').fadeOut("slow",function(){ $('#'+id).show();});
	
}

</script>


