

<style>
.station{

	width:262px;
	height:400px;
	display:block;
	color:#aaa;	font-size:2em;
	background-color:black;
	float:left;
	margin:10px;
	padding:20px;
}
div.clear {
    clear:both;
}

.bp_alert{
	background-color:#005;
}

.panel{
	background:#444;
}

.station .id{
	color:#aaa;

}

.station .bp{
	color:#9e9;

}
.station .pr{
	color:#eaa;

}
.station .hn{
	color:#66a;

}
.station .rr{
	color:#aa6;

}

</style>
   <form id="form">
     <!--
     <input type="text" id="input" value="send a message"></input>
     -->
    
     
   </form>

	<div class="clear"></div>
	<div id="panel" class="panel">
		
		<% for i in settings.stations.keys.sort %>
		<div id="<%=i%>" class="station active-station">
			ID : <span class="id"><%=i%></span><br/>
			HN : <span class="hn"></span><br/>
			BP : <span class="bp">-/-</span><br/>
			PR : <span class="pr">-</span><br/>
			RR : <span class="rr">-</span><br/>
			SO<sub>2</sub> : <span class="so2">-</span>
			<canvas class="plot" id="plot-<%=i%>" width="200" height="100" style="border:1px solid #000000;background:#ccc">
			</canvas>
		</div>
		
		<% end %>
		<script>
		
		
		</script>
	
		
		<div class="clear"></div>
	</div>
	
		<div id="template" class="station" style="display:none">
				ID : <span class="id"><%=i%></span><br/>
				HN : <span class="hn"></span><br/>
				BP : <span class="bp">-/-</span><br/>
				PR : <span class="pr">-</span><br/>
				RR : <span class="rr">-</span>
				SO<sub>2</sub> : <span class="so2">-</span>
				<canvas id="plot" width="200" height="100" style="border:1px solid #000000;background:#ccc">
				</canvas>	
		</div> 
	
	 
	
<script>

$(document).ready(function(){
	
	var show = function(el){
        return function(msg){ el.innerHTML = msg  }
      }(document.getElementById('msgs'));
	
	
	  var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
	
	  var plot_pos = {};
	
      ws.onopen    = function()  { show('websocket opened'); };
      ws.onclose   = function()  { show('websocket closed'); 
		
	 	setTimeout(function () {
	       window.location.href = "monitor"; //will redirect to your blog page (an ex: blog.html)
	    }, 2000); //will call the function after 2 secs.
	

      }
      ws.onmessage = function(m) { 
	
		active = $('.active-station').size()
	
		show(''+m.data)
		data = JSON.parse(m.data)
		if(data['list'].length!=active)
		  window.location.href = "monitor"; 
			
		$('#timer').html(data['time'])
		for(var id in data['list']){
			i = data['list'][id]
			
			if($('#'+i).length > 0){ 
			obj = data['data'][i]
			
			// console.log(obj)
			$('#'+i+' .hn').html(obj['ref'])
			
			if($('#'+i+' .bp').html()!=obj['bp']){
				$('#'+i).addClass('bp_alert');
			}else{
				$('#'+i).removeClass('bp_alert');
			}
			
			$('#'+i+' .bp').html(obj['bp'])
			
			$('#'+i+' .so2').html(obj['so2'])
			
			
			$('#'+i+' .pr').html(obj['pr'])
			$('#'+i+' .rr').html(obj['rr'])
			$('#'+i+' .so2').html(obj['so2'])
			
			plot = $('#'+i+' .plot').attr("id");
			pos = 0;
			if(plot_pos.hasOwnProperty(plot)==false){
				plot_pos[plot] = 0;
			}else
			{
				pos = plot_pos[plot];
			}
			
			
			var c = document.getElementById(plot);
		
			y = 100-parseInt(obj['pr'])/2
			var ctx = c.getContext("2d");
			
			ctx.beginPath();
				
			ctx.strokeStyle="#cccccc";
			ctx.moveTo(pos,0);
			ctx.lineTo(pos,100);
			ctx.stroke();
			ctx.moveTo(pos,0);
			ctx.lineTo(pos,100);
			ctx.stroke();
			
			ctx.beginPath();
			ctx.strokeStyle="#006666ff";
			ctx.moveTo(pos,100);
			ctx.lineTo(pos,y);
			ctx.stroke();
			
			
			pos+=5
			if(pos>200){
				pos = 0 
				// var w = c.width;
				// 		ctx.clearRect(0, 0, c.width, c.height);
				// 		c.width = 1;
				// 		c.width = w;
				
			}
			
			plot_pos[plot] = pos;
			
			ctx.stroke();
			
			
			}else{
					// setTimeout(function () {
				       window.location.href = "monitor"; //will redirect to your blog page (an ex: blog.html)
				    // }, 1000); //will call the function after 2 secs.
				
			}
			
		}
		 
	 };

      // var sender = function(f){
      //      var input     = document.getElementById('input');
      //      input.onclick = function(){ input.value = "" };
      //      f.onsubmit    = function(){
      //        ws.send(input.value);
      //        input.value = "send a message";
      //        return false;
      //      }
      //    }(document.getElementById('form'));
      // 	
	
	
	$('.ctl').each(function(){
		
		obj = $(this)
		
		obj.click(function(){
			o = $(this)
			 ws.send(o.attr('id'));
		})
		
	})

	})
   
   </script>
<div style="font-size:0.8em">
  	<div style="float:right" id="timer">
	00:00
	</div>
By E.S.M.Solution Co.,Ltd.
</div>
<i style="color:#aaa">  <div id="msgs" style="font-size:0.8em"></div></i>

