  <h1>PTZ Server</h1>
   <form id="form">
     
     <input type="text" id="input" value="send a message"></input>
     
     <table>
     
     <tr>
     <td>&nbsp;</td>
     <td>
     <input type="button" class="ctl" id="up" value="^"></input>
     </td>
     <td>&nbsp;</td>
     </tr>
      <tr>
      <td>
      <input type="button" class="ctl" id="left" value="<"></input>
      </td>
      <td>
      <input type="button" class="ctl" id="down" value="v"></input>
      </td>
      <td>
      <input type="button" class="ctl" id="right" value=">"></input>
      </td>
      </tr>
     
     
     </table>
     
   </form>
   <script>

$(document).ready(function(){
	
	var show = function(el){
        return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
      }(document.getElementById('msgs'));
	
	
	  var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
      ws.onopen    = function()  { show('websocket opened'); };
      ws.onclose   = function()  { show('websocket closed'); }
      ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

      var sender = function(f){
        var input     = document.getElementById('input');
        input.onclick = function(){ input.value = "" };
        f.onsubmit    = function(){
          ws.send(input.value);
          input.value = "send a message";
          return false;
        }
      }(document.getElementById('form'));
	
	
	
	$('.ctl').each(function(){
		
		obj = $(this)
		
		obj.click(function(){
			o = $(this)
			 ws.send(o.attr('id'));
		})
		
	})

	})
   
   </script>
   
   <div id="msgs"></div>

