<h1><%=name params[:service]%> Create</h1>
<% 
return_url = "javascript:history.back();"

return_url = params[:return] if params[:return]


	@record =  this.model.new  params[:record]
	if request.post?
		
	if params[:record]
	
		record =  this.model.create params[:record]
		
		
		
	%>
	<%=redirect_to "show?id=#{record.id}"%>
	<%	
	end
	
		
		
		
   else 
%>
<form action="create" method="post" enctype="multipart/form-data">
<%= inline(this,:'_form') %>
<button type="submit" class="btn btn-primary">Submit</button>
<%=link_to 'Back', return_url ,:class=>'btn'%>

</form>
<% end %>
