<h1><%=name params[:service]%> Show</h1>
<%
   record =  this.model.find params[:id]
if record  
%>
<%= record.inspect %>

<% end %><hr/>
<%=link_to 'Edit', "edit?id=#{params[:id]}",:class=>'btn btn-info'%>
<%=link_to 'Back', 'index',:class=>'btn'%>