<h1>Products Create</h1>
<% 
	@record = this.model.new


	if request.post?
		
	if params[:product]
		
		# key :title,String
		#   key :selected,Integer
		#   key :params,String
		#   key :ref,String
		#   key :filename,String
		#   key :path,String
		#   key :project_id,Integer
		#   key :ssid,String
		#   key :file_id,ObjectId
		#   key :thumb_id,ObjectId
		if params[:product][:image_1]
			img = params[:product][:image_1]
			grid = Mongo::Grid.new(MongoMapper.database)
			filename = img[:filename]
			tmp = img[:tempfile]
			file_id = grid.put(tmp.read,:filename=>filename)
			path = ""
			att = Attachment.create :filename=>filename, :file_id =>file_id, :path=>path
			# path = "/a/#{@context.name}/Attachment/content?id=#{att.id}"
			# 		att.update_attributes :path=>path
			
			
			params[:product][:image_1] = att.id
			
		end
		
		record = Product.create params[:product]
		
		
		
	%>
	<%=redirect_to "show?id=#{record.id}"%>
	<%	
	end
	
		
		
		
   else 
%>
<form action="create" method="post" enctype="multipart/form-data">
<%= partial :'product/_form' %>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% end %><%= params.inspect %>
