<h1>Products Edit</h1>
<%
	@record = this.model.find params[:id]

	if request.post?
		
	if params[:product]
		
		# key :title,String
		#   key :selected,Integer
		#   key :params,String
		#   key :ref,String
		#   key :filename,String
		#   key :path,String
		#   key :project_id,Integer
		#   key :ssid,String
		#   key :file_id,ObjectId
		#   key :thumb_id,ObjectId
		if params[:product][:image_1]
			img = params[:product][:image_1]
			grid = Mongo::Grid.new(MongoMapper.database)
			filename = img[:filename]
			tmp = img[:tempfile]
			file_id = grid.put(tmp.read,:filename=>filename)
			path = ""
			att = Attachment.create :filename=>filename, :file_id =>file_id, :path=>path
			# path = "/a/#{@context.name}/Attachment/content?id=#{att.id}"
			# 		att.update_attributes :path=>path
			
			
			params[:product][:image_1] = att.id
			
		end
		
		record = @record.update_attributes params[:product]
		
		
		
	%>
	<%=redirect_to "show?id=#{@record.id}"%>
	<%	
	end
	
		
		
		
   else 
%>
<form action="edit" method="post" enctype="multipart/form-data">
<%= partial :'product/_form' %>
<input type="hidden" name="id" value="<%=@record.id if @record%>">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% end %><%# params.inspect %>
