<h1>Change Password</h1>
<% 

	if request.post?


	    user = User.find(params[:id])
	
		if user
			
			user.change_password params[:pass], params[:pass_confirm]
			user.save
			
		end
	
%>
<meta http-equiv="refresh" content="0; url=show?id=<%=user.id%>" />
<%
		
	else


%>

<form action="change_password?id=<%=params[:id]%>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="product-name">Password</label>
    <input type="password" class="form-control" id="record-password" name="pass" value="" placeholder="">
  </div>

  <div class="form-group">
    <label for="product-name">Password Confirmation</label>
    <input type="password" class="form-control" id="record-password-confirmation" name="pass_confirm" value="" placeholder="">
  </div>
<button type="submit" class="btn btn-primary">Update</button>
</form>

<%
end
%>
