<h1><%=params[:service]%> Create</h1>
<% 

	@record =  this.model.new
	if request.post?
		
	if params[:record]
	
	
	
		record =  this.model.create params[:record]
		
		# record = User.register_user params[:record][:login], params[:record][:pass] 
		
		
		
	%>
	<%=redirect_to "show?id=#{record.id}"%>
	<%	
	end
	
		
		
		
   else 
%>
<form action="create" method="post" enctype="multipart/form-data">
<%= inline(this,:'_form') %>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
<% end %>
